<div class="col-lg-4 col-md-6 mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <h6 class="mb-0">{{ _("WEEEKLY_WEBSITE_VIEWS_MSG") }}</h6>
      <p class="text-sm">{{ _("LAST_7_DAYS_MSG") }}</p>
      <div class="pe-2">
        <div class="chart">
          <canvas
            id="weekly-views"
            class="chart-canvas"
            height="170"
            data-get="{{ url_for('api.weekly', index=0) }}"
          ></canvas>
        </div>
      </div>
      <hr class="dark horizontal" />
      <div class="d-flex">
        <i class="material-symbols-rounded text-sm my-auto me-1"
          >{{ View.weekly_growth_icon() }}</i
        >
        <p class="mb-0 text-sm">
          <span class="text-{{ View.weekly_growth_clr() }} font-weight-bolder"
            >{{ View.display_weekly_growth() }} </span
          >{{ _("THAN_LAST_WEEK_MSG") }}
        </p>
      </div>
    </div>
  </div>
</div>
