{% extends "admin/autocomplete/base.html" %}

{% block content %}

<ul class="list-unstyled p-2 pb-0 items">

  {% for row in rows %}

  <li
    class="p-2 item rounded-2 text-auto cursor-pointer"
    data-batch-number="{{ row.batch_number }}"
  >

    <div class="d-flex px-0 py-1">

      <!-- Batch icon -->
      <div>
        <div
          class="avatar avatar-sm bg-gradient-info border-radius-lg d-flex align-items-center justify-content-center"
        >
          <i class="material-symbols-rounded text-white">
            inventory_2
          </i>
        </div>
      </div>


      <!-- Batch information -->
      <div class="d-flex flex-column justify-content-center ms-2">

        <h6 class="mb-0 text-sm text-start">
          {{ row.batch_number }}
        </h6>

        <p class="text-xs text-secondary mb-0 text-start">

          <span>
            {{ _("QUANTITY_LABEL") }}:
            <strong>{{ row.quantity }}</strong>
          </span>

          <span class="mx-1">•</span>

          <span>
            {{ _("EXPIRY_DATE_LABEL") }}:
            <strong>{{ row.expiry_date }}</strong>
          </span>

        </p>

      </div>

    </div>

  </li>

  {% endfor %}

</ul>

{% endblock %}
