<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("id_LABEL") }}:</strong> &nbsp;{{ job.id }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("TITLE_LABEL") }}:</strong> &nbsp;{{ job.job_title }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("DESCRIPTION_LABEL") }}:</strong> &nbsp;{{ job.job_description }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("MIN_SALARY_LABEL") }}:</strong> &nbsp;{{ job.display_min_salary }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("MAX_SALARY_LABEL") }}:</strong> &nbsp;{{ job.display_max_salary }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("CREATED_AT_SUCCESS_MSG") }}:</strong> &nbsp;{{ job.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>{{ _("UPDATED_AT_SUCCESS_MSG") }}:</strong> &nbsp;{{ job.display_updated_at }}
  </li>
</ul>
