{% extends 'admin/base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="ms-3">
      <h3 class="mb-0 h4 font-weight-bolder">
        {{ _("PHARMACY_ANALYTICS_LABEL") }}
      </h3>

      <p class="mb-4">
        {{ _("PHARMACY_ANALYTICS_DESCRIPTION_MSG") }}
      </p>
    </div>
  </div>
</div>
{% include "admin/components/rows/dashboard-stats.html" %}
{% include "admin/components/rows/dashboard-charts.html" %}
{% endblock %}

{% block script %}
{{ super() }}

<script src="{{ url_for('static', filename='admin/js/dashboard-charts.js') }}"></script>
{% endblock %}
