{% with f = form.a %}

<form
  autocomplete="off"
  method="POST"
  action="{{ url_for('api.add_invoice') }}"
>
  {{ f.hidden_tag() }}

  <div class="row justify-content-center">
    <!-- Invoice Information -->
    <div class="col-3">
      <div class="card-header p-2 pb-0">
        <h6 class="m-0">{{ _("INVOICE_INFORMATION_LABEL") }}</h6>
        <p class="text-sm text-muted mb-2">
          {{ _("INVOICE_INFORMATION_DESC") }}
        </p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="mb-2">
            <div class="px-2 py-0 my-0">
              {{ f.invoice_type.label(class="form-label mx-0") }}
            </div>

            {{ f.invoice_type( class="form-control", data_style="btn border" )
            }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.supplier_id.label(class="form-label") }} {{ f.supplier_id(
              class="form-control" ) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.customer_id.label(class="form-label") }} {{ f.customer_id(
              class="form-control" ) }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="my-2">
            <div class="input-group input-group-outline">
              {{ f.paid_amount.label(class="form-label") }} {{ f.paid_amount(
              class="form-control" ) }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="mt-2 mx-2">
            <div
              class="d-flex form-check form-check-info form-switch is-filled"
            >
              {{ f.is_draft(class="form-check-input") }} {{
              f.is_draft.label(class="form-check-label ms-3") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            {{ f.submit( class="btn bg-gradient-info btn-lg w-100 mt-3 mb-0" )
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 mt-4">
      <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="align-items-center bg-gradient-dark border-radius-lg d-flex justify-content-between py-3 shadow-dark"
          >
            <div class="px-4">
              <h6 class="text-white text-capitalize mb-0">
                {{ _("INVOICE_ITEMS_LABEL") }}
              </h6>

              <p class="text-sm text-muted mb-0">
                {{ _("ADD_MEDICINES_TO_INVOICE_DESC") }}
              </p>
            </div>
            <div class="mx-3">
              <button
                class="btn btn-danger m-0 mx-2"
                data-bs-role="multiple-remove"
              >
                <i class="material-symbols-rounded fs-5">delete</i>
              </button>
              <button
                class="btn btn-success m-0 mx-2"
                type="button"
                data-bs-role="add"
                data-bs-toggle="modal"
                data-bs-placement="top"
                data-bs-add="add"
                data-bs-target="#AddItemModal"
              >
                <i class="material-symbols-rounded fs-5">add</i>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive p-0">
            <table
              class="table align-items-center mb-0 table-hover"
              data-role="invoice-item"
            >
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                    data-name="checkbox"
                  ></th>

                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                    data-name="medicine"
                  >
                    {{ _("MEDICINE_LABEL") }}
                  </th>

                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                    data-name="quantity"
                  >
                    {{ _("QUANTITY_LABEL") }}
                  </th>

                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                    data-name="unit_price"
                  >
                    {{ _("UNIT_PRICE_LABEL") }}
                  </th>

                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center"
                    data-name="total_price"
                  >
                    {{ _("TOTAL_LABEL") }}
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bonder opacity-7"
                    data-name="remove"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr class="no-data">
                  <td colspan="6" class="text-center">No data found</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4"></td>

                  <td class="text-end">
                    <span class="text-sm font-weight-bolder">
                      {{ _("TOTAL_AMOUNT_LABEL") }}
                    </span>
                  </td>

                  <td>
                    <span class="text-sm font-weight-bolder" data-invoice-total>
                      0.00
                    </span>
                  </td>
                </tr>

                <tr>
                  <td colspan="4"></td>

                  <td class="text-end">
                    <span class="text-sm font-weight-bolder">
                      {{ _("PAID_AMOUNT_LABEL") }}
                    </span>
                  </td>

                  <td>
                    <span
                      class="text-sm font-weight-bolder text-success"
                      data-invoice-paid
                    >
                      0.00
                    </span>
                  </td>
                </tr>

                <tr>
                  <td colspan="4"></td>

                  <td class="text-end">
                    <span class="text-sm font-weight-bolder">
                      {{ _("REMAINING_AMOUNT_LABEL") }}
                    </span>
                  </td>

                  <td>
                    <span
                      class="text-sm font-weight-bolder text-danger"
                      data-invoice-remaining
                    >
                      0.00
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>

                  <td class="text-end">
                    <span class="text-sm font-weight-bolder">
                      {{ _("PREVIOUS_DEBT_LABEL") }}</span
                    >
                  </td>

                  <td>
                    <span
                      class="text-sm font-weight-bolder text-danger"
                      data-previous-debt
                      data-get-from="{{ url_for('api.get_previous_debt') }}"
                    >
                      0.00
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>

                  <td class="text-end">
                    <span class="text-sm font-weight-bolder">
                      {{ _("TOTAL_DEBT_LABEL") }}</span
                    >
                  </td>

                  <td>
                    <span
                      class="text-sm font-weight-bolder text-danger"
                      data-total-debt
                    >
                      0.00
                    </span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endwith %}
