<div
  class="modal fade"
  id="AddJobModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="AddJobModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header pb-0 text-left">
            <h5 data-modal-title>{{ _("ADD_NEW_JOB_MSG") }}</h5>
            <p class="mb-0" data-modal-description>
              {{ _("FILL_IN_THE_JOB_S_DETAILS_BELOW_TO_CREATE_A_NEW_JOB_MSG") }}
            </p>
          </div>
          <div class="card-body">
            {% include "admin/components/forms/add/job.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
