{% extends 'auth/base.html' %} {% block form %}
<div class="form-box">
  <form method="POST">
    <h1>{{ _("LOGIN_LABEL") }}</h1>
    {{ form.hidden_tag() }}
    
    <div class="input-box">
      {{ form.email(size=32, placeholder=form.email.label.text) }}
      <i class="bx bxs-envelope"></i>
      <div class="error">
        {% for error in form.email.errors %}
          <span style="color:red">{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="input-box">
      {{ form.password(size=32, placeholder=form.password.label.text) }}
      <i class="bx bxs-lock-alt"></i>
      <div class="error">
        {% for error in form.password.errors %}
          <span style="color:red">{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    {{ form.submit(class="btn") }}
  </form>
</div>

<div class="toggle-box">
  <div class="toggle-panel toggle-left">
    <h1>{{ _("HELLO_WELCOME_LABEL") }}</h1>
    <p>{{ _("DON_T_HAVE_AN_ACCOUNT_MSG") }}</p>
    <button class="btn register-btn" data-location="{{ url_for('auth.signup') }}" {{"disabled" if not signup else ""}}>{{ _("REGISTER_LABEL") }}</button>
  </div>
</div>
{% endblock %}
