<table
  class="table align-items-center mb-0 table-hover"
  data-type="dynamic"
  data-get-rows="{{ url_for('api.fetch_employees_rows') }}"
  data-get-row="{{ url_for('api.fetch_employee_row', id=-1)}}"
  data-update-row="{{ url_for('api.update_employee')}}"
  data-delete-row="{{ url_for('api.delete_employee', id=-1)}}"
  data-view-row="{{ url_for('admin.view', entity='employee', id=-1) }}"
  data-add-row-modal-id="#AddEmployeeModal"
  data-edit-row-modal-id="#EditEmployeeModal"
  data-view-row-modal-id="#ViewModal"
>
  <thead></thead>
  <tbody></tbody>
</table>
