<table
  class="table align-items-center mb-0 table-hover"
  data-type="dynamic"
  data-get-rows="{{ url_for('api.fetch_medicines_rows') }}"
  data-get-row="{{ url_for('api.fetch_medicine_row', id=-1) }}"
  data-update-row="{{ url_for('api.update_medicine') }}"
  data-delete-row="{{ url_for('api.delete_medicine', id=-1) }}"
  data-view-row="{{ url_for('admin.view', entity='medicine', id=-1) }}"
  data-add-row-modal-id="#AddMedicineModal"
  data-edit-row-modal-id="#EditMedicineModal"
  data-view-row-modal-id="#ViewModal"
>
  <thead></thead>
  <tbody></tbody>
</table>
