<table
  class="table align-items-center mb-0 table-hover"
  data-type="dynamic"
  data-get-rows="{{ url_for('api.fetch_suppliers_rows') }}"
  data-get-row="{{ url_for('api.fetch_supplier_row', id=-1) }}"
  data-update-row="{{ url_for('api.update_supplier') }}"
  data-delete-row="{{ url_for('api.delete_supplier', id=-1) }}"
  data-add-row-modal-id="#AddSupplierModal"
  data-edit-row-modal-id="#EditSupplierModal"
  data-view-row-modal-id="#ViewModal"
>
  <thead></thead>

  <tbody></tbody>
</table>

