<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2">
      <div class="col-auto my-auto">
        <div class="d-flex px-0 py-1">
          <div>
            <img
              src="{{ employee.user.avatar_path }}"
              class="avatar avatar-lg border-radius-lg"
              alt="user1"
            />
          </div>
          <div class="d-flex flex-column justify-content-center mx-2">
            <h5 class="mb-0">{{ employee.user.full_name }}</h5>
            <p class="mb-0 mt-0 font-weight-normal text-sm">
              {{ employee.user.email }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-1">
      <div class="col-md-8">
        <div class="row gx-0 mb-3">
          <div class="card">
            <div class="card-header pb-0">
              <h5>{{ _("EMPLOYEE_INFORMATION_LABEL") }}</h5>
            </div>
            <hr class="horizontal my-0 opacity-10" />
            <div class="card-body p0">
              {% include "admin/views/information/employee.html" %}
            </div>
          </div>
        </div>
        {% with job = employee.job %} {% if job %}
        <div class="row gx-0 mb-3">
          <div class="card">
            <div class="card-header pb-0">
              <h5>{{ _("JOB_INFORMATION_LABEL") }}</h5>
            </div>
            <hr class="horizontal my-0 opacity-10" />
            <div class="card-body p0">
              {% include "admin/views/information/job.html" %}
            </div>
          </div>
        </div>
        {% endif %} {% endwith %}
      </div>

      <div class="col-lg-4">
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("SALARY_LABEL") }}
                    </p>
                    <h4 class="mb-0">{{ employee.display_salary }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">check</i>
                  </div>
                </div>
              </div>
              <hr class="horizontal my-0 opacity-10" />
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("PHONE_LABEL") }}
                    </p>
                    <h4 class="mb-0">
                      {{ employee.user.display_number_of_phone_nums }}
                    </h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">phone</i>
                  </div>
                </div>
              </div>
              {% if employee.user.phones.count() > 0 %}
              <hr class="horizontal my-0 opacity-10" />
              <div class="card-footer py-2">
                <div class="values d-flex flex-wrap justify-content-center">
                  {% for phone in employee.user.phones.all() %}
                  <span
                    class="badge badge-sm bg-gradient-secondary mx-1 my-1 cursor-pointer"
                    data-role="value"
                    >{{ phone.number }}</span
                  >
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
