<div class="card card-plain">
  <div class="card-header">
    <div class="row gx-4 mb-2">
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{ job.job_title }}</h5>
          <p class="mb-0 font-weight-normal text-sm">
            {{ job.job_description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="row gx-3 my-1">
      <div class="col-md-8">
        <div class="row gx-0 mb-3">
          <div class="card">
            <div class="card-header pb-0">
              <h5>{{ _("JOB_INFORMATION_LABEL") }}</h5>
            </div>
            <hr class="horizontal my-0 opacity-10" />
            <div class="card-body p0">
              {% include "admin/views/information/job.html" %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("MINIMUM_SALARY_LABEL") }}
                    </p>
                    <h4 class="mb-0">{{ job.display_min_salary }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">weekend</i>
                  </div>
                </div>
              </div>
              <hr class="horizontal my-0 opacity-10" />
              <div class="card-footer p-2">
                <span class="text-sm"
                  >{{ _("MINIMUM_SALARY_IN_THIS_JOB_MSG") }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("MAXIMUM_SALARY_LABEL") }}
                    </p>
                    <h4 class="mb-0">{{ job.display_max_salary }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">weekend</i>
                  </div>
                </div>
              </div>
              <hr class="horizontal my-0 opacity-10" />
              <div class="card-footer p-2">
                <span class="text-sm"
                  >{{ _("MAXIMUM_SALARY_IN_THIS_JOB_MSG") }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="text-sm mb-0 text-capitalize">
                      {{ _("EMPLOYEES_LABEL") }}
                    </p>
                    <h4 class="mb-0">{{ job.employees.count() }}</h4>
                  </div>
                  <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg"
                  >
                    <i class="material-symbols-rounded opacity-10">people</i>
                  </div>
                </div>
              </div>
              <hr class="horizontal my-0 opacity-10" />
              <div class="card-footer p-2">
                <span class="text-sm">{{ _("ACTIVE_STAFF_COUNT_MSG") }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-3 my-1">
        <div class="col-md-12">
          {% with employees = job.employees %} {% if employees %}
          <div class="row gx-0 mb-2 mt-5">
            <div class="card">
              <div
                class="bg-gradient-dark card-header mt-n4 mx-3 position-relative z-index-2 shadow-sm rounded-3 py-4"
              >
                <h5 class="mb-0 mx-2">{{ _("EMPLOYEES_LABEL") }}</h5>
              </div>

              <div class="card-body">
                <div class="table-responsive p-0">
                  {% include "admin/views/tables/employees.html" %}
                </div>
              </div>
            </div>
          </div>
          {% endif %} {% endwith %}
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
