<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        {{ _("ID") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("EMPLOYEE_LABEL") }}
      </th>
      <th
        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("SALARY_LABEL") }}
      </th>
      <th
        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("HIRE_DATE_LABEL") }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for e in employees %}
    <tr>
      <td class="text-center">
        <span class="text-xs">{{ e.id }}</span>
      </td>
      <td>
        <div class="d-flex px-0 py-1">
          <div>
            <img
              src="{{ e.user.avatar_path }}"
              class="avatar avatar-sm border-radius-lg"
              alt="user1"
            />
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">{{ e.user.full_name }}</h6>
            <p class="text-xs text-secondary mb-0">{{ e.user.email }}</p>
          </div>
        </div>
      </td>
      <td class="align-middle text-center text-xs">{{ e.display_salary }}</td>
      <td class="align-middle text-center">
        <span class="text-secondary text-xs font-weight-bold"
          >{{ e.display_hire_date }}</span
        >
      </td>
    </tr>
    {% else %}
    <tr class="no-rows-label">
      <td colspan="4" class="py-4 text-center">
        <span>{{ _("NO_EMPLOYEES_YET_MSG") }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
