<table class="table align-items-center mb-0 table-hover">
  <thead>
    <tr>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
      >
        {{ _("ID") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("NAME_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("SIZE_LABEL") }}
      </th>
      <th
        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
      >
        {{ _("UPLOADED_LABEL") }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for f in files %}
    <tr>
      <td class="text-xs text-center">{{ f.id }}</td>
      <td class="text-xs">
        <a href="{{ f.file_url }}" target="_blank">{{ f.display_file_name }}</a>
      </td>
      <td class="text-xs">{{ f.human_size }}</td>
      <td class="text-xs">{{ f.display_natural_created_at }}</td>
    </tr>
    {% else %}
    <tr class="no-rows-label">
      <td colspan="5" class="py-4 text-center">
        <span>{{ _("NO_FILES_YET_MSG") }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
